@font-face {
    font-family: 'Mont-Regular';
    src: url('Mont-Regular.eot');
    src: local('Mont Regular'), local('Mont-Regular'),
        url('Mont-Regular.eot?#iefix') format('embedded-opentype'),
        /* url('Mont-Regular.woff2') format('woff2'), */
        url('Mont-Regular.woff') format('woff'),
        url('Mont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mont-Heavy';
    src: url('Mont-Heavy.eot');
    src: local('Mont Heavy'), local('Mont-Heavy'),
        url('Mont-Heavy.eot?#iefix') format('embedded-opentype'),
        url('Mont-Heavy.woff2') format('woff2'),
        url('Mont-Heavy.woff') format('woff'),
        url('Mont-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Mont-Bold';
    src: url('Mont-Bold.eot');
    src: local('Mont Bold'), local('Mont-Bold'),
        url('Mont-Bold.eot?#iefix') format('embedded-opentype'),
        url('Mont-Bold.woff2') format('woff2'),
        url('Mont-Bold.woff') format('woff'),
        url('Mont-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}




body{
    margin: 0;
    background-color: rgb(218,210,205);
    font-family:'Mont-Regular';
    overflow-x: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    border: 1px solid black;

}







.top{
    display: flex;
    width: 100%;
    height: 2em;

    justify-content: space-between;
    margin-bottom: 2em;
}

.top_left{
    width: 8.5%;

    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.top_right{
    display: flex;
    width:62.5%;
    justify-content: space-between;
    text-align: center;
}

.top_right a{

    padding-bottom: 18px;
    padding-top: 18px;



    text-decoration: none;
    font-family:'Mont-Regular', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(8,15,37);

    font-size: 1.1em;

    font-weight: normal;

}

.top_right a:hover{
    color: rgb(173,111,90);
}





.B1main{
    display: flex;
    
    margin-bottom: 3em;
}

.B1main_left{
    display: flex;
    flex-direction:column;
    width: 50%;
    margin-top: 9%;

}

.B1main_left_header{
    color: rgb(7,28,93);
}
.B1main_left_header div:first-child{
    font-weight: bold;
    font-size: 1.44em;
    text-align: left;
    font-family:'Mont-Bold', Tahoma, Geneva, Verdana, sans-serif;

}

.B1main_left_header div{
    margin:auto;
    font-weight: 800;
    font-size: 6em;
    text-align: center;
    font-family:'Mont-Heavy', Tahoma, Geneva, Verdana, sans-serif;
}

.B1main_left_header div:last-child{
    float:right;
    padding-right: 40px;
    font-weight: bold;
    font-size: 1.44em;
    text-align: right;
    font-family:'Mont-Bold', Tahoma, Geneva, Verdana, sans-serif;
}


.B1main_left_properties{
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

.B1main_left_properties div > div{

    font-weight: normal;
    font-size: 1.2em;

    text-align: left;
    font-family:'Mont-Regular', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(8,15,37);

    padding-left: 1em;
}

.B1main_left_properties_line1{
    display: flex;
    align-items:center;
    margin-bottom: 1em;
}

.B1main_left_properties_line2{
    display: flex;
    align-items:center;
}

.B1main_left_button{
    display: flex;
    margin-top: 4em;
    max-height: 40%;
    

    justify-content:space-between;

}

.B1main_left_button a{
    background-color: rgb(173,111,90);
    border-radius: 10px;
    align-self:flex-start;
    justify-content:center;

    width: 38%;
    padding-top: 0.8em;
    padding-bottom: 0.8em;

    font-family:'Mont-Regular', Tahoma, Geneva, Verdana, sans-serif;

    align-self:flex-start;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1.24em;

    

}

.B1main_left_button a:hover{
    background-color: rgb(7,28,93);
    color: rgb(218,210,205);
}

.B1main_left_button img{
    
    max-width: 15%;
    transform: rotate(-25deg);
    opacity: 0.6;
    margin-right: 25%;
    margin-top: 15%;

}


.B1main_right{
    width: 50%;
    align-self: center;
}

.B1main_right img{
    width: 100%;
    
}






.B2lessons{
    display: flex;
    margin-top: 1em;
    margin-bottom: 4em;
}

.B2lessons_left{
    display: flex;
    width: 40%;
    flex-direction:column;
}

.B2lessons_left_header{
    display: flex;  
    margin-top: 4em; 
    justify-content:space-between;
}

.B2lessons_left_header div{

    max-width: 60%;
    float:left;
    font-weight: bold;
    font-size: 2.2em;
    text-align: left;
    font-family:'Mont-Bold', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(7,28,93);

}

.B2lessons_left_header img{

    align-self: flex-start;
    max-width: 10%;
    transform: rotate(14deg);
    opacity: 0.6;

}

.B2lessons_left_text{
    display: flex;
    flex-direction:column;
    margin-top: 3em;
}

.B2lessons_left_text div{

    font-size: 1.44em;

    text-align: left;
    font-family:'Mont-Regular', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(8,15,37);
    max-width: 100%;

}

.B2lessons_left_text div:last-child{

    font-size: 1.44em;

    text-align: left;
    font-family:'Mont-Bold', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(8,15,37);

    margin-top: 3em;
    margin-bottom: 1em;

}

.B2lessons_left_timer div{
    font-weight: 800;
    font-size: 6em;
    text-align: center;
    font-family:'Mont-Heavy', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(7,28,93);
}

.B2lessons_left_button{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.B2lessons_left_button a{

    background-color: rgb(173,111,90);
    border-radius: 10px;
    align-self:center;

    width: 50%;
    padding-top: 0.8em;
    padding-bottom: 0.8em;

    font-family:'Mont-Regular', Tahoma, Geneva, Verdana, sans-serif;


    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1.24em;
    margin-left: 12%;

}

.B2lessons_left_button a:hover{
    background-color: rgb(7,28,93);
    color: rgb(218,210,205);
}


.B2lessons_right{
    width: 60%;
    align-self: center;
}

.B2lessons_right img{
    max-width: 110%;
    margin-left: 4%;

}







.B3func{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;

    max-width: 100%;
}

.B3func > div{
    border: 2px solid rgb(173,111,90);

    aspect-ratio: 1/1;
    padding: 10%;
    font-size: 1.24em;
}

.B3func div:first-child{
    border: none;
}
.B3func div:first-child div{
    
    font-family:'Mont-Bold', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(7,28,93);
    font-size: 1.8em;
    padding-top: 18%;

}


.B3func-photo1 img{
    width: 90%;
    transform: rotate(15deg);
    padding: 5%;
    align-self: center;
}


.B3func-photo2 img{
    width: 90%;
    padding: 5%;
    align-self: center;
}







.B4color{
    display: flex;
    margin-top: 8em;
}

.B4color_left{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.B4color_left-image{
    display: flex;
    justify-content: center;
    padding-top: 4em;
    padding-bottom: 4em;
}

.B4color_left-image img{
    width: 75%;
}

.B4color_left-picker{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.B4color_left-picker svg{
    padding-left: 2%;
    padding-right: 2%;
}




.B4color-right{
    display: flex;
    width: 89%;
    flex-direction: column;
    margin-top: 4em;
}


.B4color-text div:first-child{
    font-family:'Mont-Bold', Tahoma, Geneva, Verdana, sans-serif;


    text-align: left;
    color: rgb(7,28,93);
    font-size: 2.4em;
}

.B4color-text div{
    font-family:'Mont-Regular', Tahoma, Geneva, Verdana, sans-serif;


    text-align: left;
    color: rgb(8,15,37);
    font-size: 1.32em;
    margin-top: 1em;
}

.B4color-text div:last-child{
    margin-top: 0.7em;

    font-weight: 800;
    font-size: 4.8em;
    text-align: left;
    font-family:'Mont-Heavy', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(7,28,93);
}

.B4color-button{

    margin-top: 2em;
}

.B4color-button a{
    background-color: rgb(173,111,90);
    border-radius: 10px;
    align-self:flex-start;


    padding-left: 50px;
    padding-right: 50px;
    padding-top: 1em;
    padding-bottom: 1em;

    font-family:'Mont-Regular', Tahoma, Geneva, Verdana, sans-serif;


    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1.24em;

}

.B4color-right a:hover{
    background-color: rgb(7,28,93);
    color: rgb(218,210,205);
}








.B5form{
    display: flex;
    width: 100%;
    margin-top: 4em;
    margin-bottom: 10em;
}

.B5form_left{
    width: 60%;
    align-self: center;
}

.B5form_left img{
    max-width: 100%;
    transform: translate(-5%, 0);
}

.B5form-right{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.B5form-right_header{
    display: flex;
    flex-direction: column;
    margin-top: 5em;
}

.B5form-right_header div{
    font-family:'Mont-Bold', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(7,28,93);
    font-size: 2.4em;
}

.B5form-right_header div:last-child{
    font-family:'Mont-Regular', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(8,15,37);
    font-size: 1.32em;
}

.B5form-right-form{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.B5form-right-form input[type="text"], .B5form-right-form textarea{

    background-color: rgb(255 255 255 / 0.44);
    border-radius: 10px;
    border: 3px solid rgb(7 28 93 / 0.8);


    padding:1em;
    font-size: 1.2em;
    font-family:'Mont-Regular', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(8 15 37 / 0.7);
    margin-bottom: 0.4em;
}

.B5form-right-form textarea{

    resize: none;

}


.B5form-right-form input[type="submit"]{
    border: none;
    background-color: rgb(173,111,90);
    border-radius: 10px;
    align-self:flex-start;

    margin-top: 0.3em;

    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;

    font-family:'Mont-Regular', Tahoma, Geneva, Verdana, sans-serif;


    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1.24em;
}

.B5form-right-form input[type="submit"]:hover{
    background-color: rgb(7,28,93);
    color: rgb(218,210,205);
}






.footer{
    display: flex;
    justify-content: space-between;

}

.footer_left{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.footer_left div{
    font-family:'Mont-Regular', Tahoma, Geneva, Verdana, sans-serif;


    text-align: left;
    color: rgb(8,15,37);
    font-size: 0.84em;

    padding-bottom: 1em;
}

.footer-center{
    width: 30%;
    padding-left: 20%;
}

.footer-center img{
    max-width: 30%;
}

.footer-right{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items:flex-end;
}

.footer-right a{
    font-family:'Mont-Regular', Tahoma, Geneva, Verdana, sans-serif;


    text-decoration: none;
    text-align: right;
    color: rgb(8,15,37);
    font-size: 0.84em;

    padding-bottom: 0.7em;
}

.footer-right a:hover{
    color: rgb(173,111,90);
}

.footer-right-lastElement a{
    font-family:'Mont-Regular', Tahoma, Geneva, Verdana, sans-serif;

    text-decoration: underline;
    text-align: right;
    color: rgb(8,15,37);
    font-size: 0.84em;


}


@media (width < 1125px){

    .top{
        flex-direction: column;
        justify-content: center;
        align-items:center;
        height: 8em;
        margin-bottom: 0.5em;
    }

    .top_right{
        width: 90%;
    }




    .B1main_left_header div:first-child, .B1main_left_header div:last-child{
        font-size: 1.2em;
    }

    .B1main_left_header div{
        font-size: 4em;
        
    }

    .B1main_left_properties div > div{
        font-size: 1.1em;
    }

    .B1main_left_button a{
        font-size: 1.08em;
    }




    .B2lessons_left_header{
        font-size: 0.8em;
    }

    .B2lessons_left_text{
        margin-top: 2em;
    }

    .B2lessons_left_text div{
        font-size: 1em;
    }

    .B2lessons_left_text div:last-child{

        font-size: 1.2em;
    
        margin-top: 2em;
        margin-bottom: 1em;
    
    }

    .B2lessons_left_timer div{
        font-size: 4em;
    }

    .B2lessons_left_button{
        margin-top: 1.4em;
    }

    .B2lessons_left_button a{
        font-size: 1.1em;
    }




    .B3func{
        grid-template-columns: 1fr 1fr;
    }

    .B3func > div{
        font-size: 1.15em;
    }




    .B4color-text div:first-child{
        font-size: 2em;
    }

    .B4color-text div{
        font-size: 1.1em;
        margin-top: 1em;
    }

    .B4color-text div:last-child{
        margin-top: 0.6em;
        font-size: 3em;
    }

    .B4color-button a{
        font-size: 1.1em;
    
    }



    .B5form-right_header{
        margin-top: 3em;
    }

    .B5form-right_header div{
        font-size: 1.8em;
    }

    .B5form-right_header div:last-child{
        font-size: 1.1em;
    }

    .B5form-right-form input[type="text"], .B5form-right-form textarea{
        padding: 1em;
        font-size: 0.8em;
    }

    .B5form-right-form input[type="submit"]{
        font-size: 1em;
    }

    .footer_left div{
        font-size: 0.7em;
    }
    .footer-right-lastElement a{
        align-self: flex-end;
        text-align: right;
    }

}

@media (width < 600px){
    .top{
        height: auto;
    }

    .top_left{
        width: 95px;
        padding-bottom: 0.1em;
    }

    .top_right{
        flex-direction: column;
    }

    .top_right a{
        padding-bottom: 0.7em;
        padding-top: 0.7em;
        border-top: 1px solid black;
    }

    .top_right a:last-child{
        border-bottom: 1px solid black;
    }



    .B1main{
        flex-direction: column;
        margin-bottom: 0;
    }

    .B1main_left{
        width: 100%;
        align-items: center;
        align-self: center;

    }

    .B1main_left_header div:last-child{
        padding-right: 0;
    }

    .B1main_left_button{
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
    }

    .B1main_left_button a{
        align-self: center;
    }

    .B1main_left_button img{
        align-self: flex-end;
        margin-top: 0;
        margin-right: 1.5em;
    }


    .B2lessons{
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
    }

    .B2lessons_left{
        width: 100%;
    }

    .B2lessons_left_header{
        flex-direction: column-reverse;
        margin-top: 0;
    }

    .B2lessons_left_header img{
        margin-left: 5em;
    }
    
    .B2lessons_left_header div{
        margin-top: 1em;
    }

    .B2lessons_left_text{
        margin-top: 0.5em;
    }

    .B2lessons_left_text div{
        text-align: right;
    }

    .B2lessons_left_text div:last-child{
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .B2lessons_left_button{
        margin-top: 0;
    }

    .B2lessons_left_button a{
        margin-left: 0;
    }

    .B2lessons_right{
        width: 100%;
    }

    .B2lessons_right img{
        margin-left: 0;
    }






    .B3func{
        grid-template-columns: 1fr;
    }

    .B3func > div{
        aspect-ratio: 0;
        padding: 5%;
    }

    .B3func div:first-child div{
        padding-top: 0;
        text-align: center;
    }




    .B4color{
        margin-top: 0em;
        flex-direction: column;
    }

    .B4color_left-image{
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .B4color-right{
        width: 100%;
        margin-top: 0;
    }

    .B4color-text div{
        margin-top: 0.5em;
    }

    .B4color-text div:last-child{
        margin-top: 0.3em;
        text-align: center;
    }

    .B4color-button{
        margin-top: 1em;
        align-self: center;
        
    }


    .B5form{
        flex-direction: column;
        margin-bottom: 5em;
    }

    .B5form_left{
        width: 100%;
    }

    .B5form_left img{
        transform: translate(0, 0);
    }

    .B5form-right{
        width: 100%;
    }

    .B5form-right_header{
        margin-top: 0.5em;
    }

    .B5form-right-form input[type="text"], .B5form-right-form textarea{
        font-size: 0.9em;
    }

    .B5form-right-form input[type="submit"]{
        align-self:flex-end;
    }


    




}