
body{

    margin: 0
}

.container{
    margin:auto;
    width: 70%;
}

.top-nav-menu{
    background-color: rgb(52,52,52);
    color:#fff;
    overflow: hidden;
    margin-bottom: 20px;
}

.top-nav-menu a{
    display: block;
    float:left;

    padding-bottom: 14px;
    padding-top: 14px;

    margin-left: 15px;

    padding-left: 5px;
    padding-right: 5px;

    text-decoration: none;

    color: #fff;

    font-size: 1.2em;

    width: 100px;
    text-align:center;

}

.top-nav-menu a:hover{
    background-color: rgb(111, 111, 111);
}

.left-side{
    width: 20%;
}

.right-side{
    width: 80%
}

.column{
    float: left;
}

.left-nav-menu{
    background-color: rgb(155, 153, 153);
}

.left-nav-menu a{
    display: block;
    text-align: center;
    color:white;
    font-size: 1.1em;

    padding-top: 10px;
    padding-bottom: 10px;

    border-bottom-style: solid;
    border-bottom-color: #fff;
    border-bottom-width: 1px;

    text-decoration: none;
}

.left-nav-menu a:hover{
    background-color: rgb(111, 111, 111);
}

.adv-container {
    text-align: center;
}

.adv-container img{
    max-width: 100%;
}

.blog-post-container{
    margin-left: 5px;
}

.blog-post p{
    text-align: justify;
    border: solid 1px black;
    margin-top: 0;
    padding: 4px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    
}

.blog-post-heading{
    background-color: rgb(52,52,52);
    color: #fff;
    padding: 4px;
}

.blog-post-header-text{
    text-align: left;
}

.blog-post-header-data{
    text-align: right;
}